.friends-navbar {
  display: flex;
  width: auto;
  justify-content: space-around;
  align-items: center;
  background-color: none;
  color: white;
  height: auto;
  padding: 49px;
  gap: 5rem;
}
.friends {
  display: flex;

  width: 50px;
  border-radius: 50px;
}
